[Unit]
Description=File watcher for i2csound
Before=i2csound.service
ConditionPathExists=/home/ovos/.config/mycroft/i2c_platform

[Service]
Type=oneshot
RemainAfterExit=1
ExecStart=/usr/bin/rm -f /home/ovos/.config/mycroft/i2c_platform

[Install]
WantedBy=default.target
